.env
.env.example
/__pycache__
/venv
/app/__pycache__
/app/venv
/app/db/__pycache__
/app/db/venv
/app/services/__pycache__
/app/services/venv
/app/core/__pycache__
/app/core/venv
/app/api/__pycache__
/app/api/venv
/app/models/__pycache__
/app/models/venv
/app/schemas/__pycache__
/app/schemas/venv
/app/utils/__pycache__
/app/utils/venv
/app/tests/__pycache__
/app/api/tests/__pycache__
/app/services/tests/__pycache__
/app/db/tests/__pycache__
/app/core/tests/__pycache__
/app/api/routes/__pycache__
/app/core/__pycache__